./runs
./SalvataggioPredizioniGtMetriche
.comet.config
./RESULTS
./RESULTS_new_batch
./RESULTS_RESNET18
./RESULTS_SHALLOW_RANK_IQA
./RESULTS_SQUEEZENET1_1
./RESULTS_VGG
./RESULTS_VGG_PRETRAINED
./RESULTS_VGG_PRETRAINED_NEW
./RESULTS
./RESULTS
./.vscode
./pretrained_models
./pretrained_models_NEW
./jsons
./features_analysis
./features_analysis_power
./embeddings
./distortions_utils
./__pycache__
./OLD_CODES
